#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN0
pin: nhk:gpio6
##tachometer_pin: PB0
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: nhk:gpio5
#tachometer_pin: PB4
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0


[fan_generic electronics]
pin: PB7

[delayed_gcode start_fan_at_idle_speed]
initial_duration: 1.
gcode:
  SET_FAN_SPEED FAN=electronics SPEED=0.25

[temperature_fan chamber]
pin: PB3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time:0.01
off_below:0.1
sensor_type: Generic 3950
sensor_pin: chamber_temp
min_temp: 0
max_temp: 70
target_temp: 35.0
control: watermark
gcode_id: C

[gcode_macro M141]
gcode:
    {% set s = params.S|default(0)|float %}
    SET_TEMPERATURE_FAN_TARGET temperature_fan="chamber" target={s}
    
#[fan_generic exhaust_fan]
##  Exhaust fan - FAN3
#pin: PB3
#tachometer_pin: PF8
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

[fan_generic nevermore]
##  Exhaust fan - FAN3
pin: PF7
#tachometer_pin: PF8
max_power: .5
shutdown_speed: 0.0
kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   Filament sensor
#####################################################################

[filament_switch_sensor BTT_Filament_Sensor]
switch_pin: ^PC0 
pause_on_runout: False 
runout_gcode: 
  PAUSE  #  [pause_resume] is required in printer.cfg  
  M117 Filament switch runout 
insert_gcode: 
  M117 Filament switch inserted
  
#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting (Optional)
## Connected to LED-STRIP
[output_pin caselight]
pin: PE6
pwm:true
hardware_pwm: False
value: 0.20 #startup value
shutdown_value: 0
value:1
cycle_time: 0.00025

## Connected to led (nitehawk sb)
[output_pin pcb_led]
pin: !nhk:gpio8

## Connected to NEOPIXEL (nitehawk sb)
[neopixel rgb_light]
pin: nhk:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

